body {
    background-color: #A64B00;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

body p {
    margin:79px 30px 0 30px;
}

header {
    width: auto;
    height: 125px;
    background-color: #269926;
}

header h1 {
    margin: 0;
    padding: 33px 356px;
    text-align: center;
    font-size: 48px;
    font-weight: normal;
}

main p {
    padding: 9px 0 9px 0;
}

nav {
    background-color: #D9D9D9;
    text-align: center;
    padding: 20px;
    height: 35px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 0 131px;
}

main img {
    display: block;
    margin: 30px auto;
}